$black: #080808;
$ngeBlue: #00e5ff;

#bracketBracket{
    height: 70vh;
    width: 100%;
    border: 0px solid;
    margin-top: 2%;
}

#teamSearch{
    margin-top: 5%;
    height: 8vh;
    width: 100%;
    background-color: $black;
    border: 2px solid $ngeBlue;
    border-radius: 5px;
}

#teamSearch{
    height: 30px;
    width: 100%;
}

